src/SchedulingClients.Core/Service References/JobStateServiceReference/jobState5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/jobState.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="JobPriority">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Low">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">50</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Normal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">60</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="High">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">70</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Urgent">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">80</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Immediate">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">90</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Critical">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">100</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="JobPriority" nillable="true" type="tns:JobPriority" />
  <xs:simpleType name="JobStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Assembly" />
      <xs:enumeration value="Assigning" />
      <xs:enumeration value="Waiting" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Aborting" />
      <xs:enumeration value="Aborted" />
      <xs:enumeration value="Editing" />
      <xs:enumeration value="Failing" />
      <xs:enumeration value="Failed" />
      <xs:enumeration value="PartiallyCompleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="JobStatus" nillable="true" type="tns:JobStatus" />
  <xs:simpleType name="TaskStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unstarted" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Aborting" />
      <xs:enumeration value="Aborted" />
      <xs:enumeration value="Failing" />
      <xs:enumeration value="Failed" />
      <xs:enumeration value="Editing" />
      <xs:enumeration value="PartiallyCompleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaskStatus" nillable="true" type="tns:TaskStatus" />
  <xs:simpleType name="TaskType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UnorderedList" />
      <xs:enumeration value="OrderedList" />
      <xs:enumeration value="AtomicMoveList" />
      <xs:enumeration value="ServiceAtNode" />
      <xs:enumeration value="AwaitAtNode" />
      <xs:enumeration value="SleepAtNode" />
      <xs:enumeration value="ChargeAtNode" />
      <xs:enumeration value="GoToNode" />
      <xs:enumeration value="AtomicMove" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaskType" nillable="true" type="tns:TaskType" />
</xs:schema>